*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

i {
  color: white;
}

main {
  height: 80vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main header {
  background-color: #ffce00;
  width: 100%;
}
main .headline {
  background-image: url(/images/background/bg1.png);
  background-size: cover;
  background-position: 20%;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
  padding: 20px;
  margin-top: 10vh;
}
main .headline #bg1 {
  color: #ffce00;
}
main .headline i:hover {
  color: #ffce00;
}
main nav {
  position: fixed;
  font-size: 1.5em;
  z-index: 1;
  width: 100%;
  background-color: #ffce00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20px;
  overflow: hidden;
  transition: height 0.5s;
}
main nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  width: 15%;
}
main nav img {
  height: 50px;
  width: 200px;
}
main nav .nav-link {
  font-size: 1.5rem;
  color: white;
}
main nav i:hover {
  color: black;
}

.gallery {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .figure {
  padding: 10px;
  width: 80%;
}
.gallery .figure ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  text-decoration: none;
  gap: 20px;
  padding: 20px;
}
.gallery .figure ul li {
  position: relative;
  height: 350px;
}
.gallery .figure ul li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
}
.gallery .figure ul .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .figure ul .text {
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.gallery .figure ul li:hover .overlay {
  height: 25%;
}

.closetest {
  position: absolute;
  top: -15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 5rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  z-index: 5;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2.5em;
  gap: 50px;
  font-size: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal img {
  background-color: rgba(0, 0, 0, 0);
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  grid-row: 1/4;
}

.checkout-list {
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 1.5em;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: none;
}
.checkout-list .checkout-container {
  background-color: white;
  position: absolute;
  right: 0;
  z-index: 5;
  width: 0%;
  overflow: hidden;
}
.checkout-list .checkout-container i {
  font-size: 1.5em;
  color: black;
}
.checkout-list .checkout-container .checkout-icon {
  position: fixed;
  width: 40%;
  background-color: #ffce00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 10vh;
}
.checkout-list .checkout-container .checkout-items {
  padding-top: 50px;
  height: calc(100vh - 130px);
  overflow-y: auto;
  background-color: white;
  position: fixed;
  top: 10vh;
  width: 40%;
}
.checkout-list .checkout-container .checkout-items ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px 100px 40px;
  gap: 30px;
}
.checkout-list .checkout-container .checkout-items ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  text-align: center;
  height: 150px;
}
.checkout-list .checkout-container .checkout-items ul li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  grid-row: 1/3;
}
.checkout-list .checkout-closure {
  position: fixed;
  width: 40%;
  bottom: 0;
  background-color: #ffce00;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  gap: 10px;
}
.checkout-list .checkout-closure #subtotal {
  justify-self: end;
}

footer {
  height: 30vh;
  background-color: #ffce00;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .about p {
  margin-top: 10px;
  font-size: 1.5rem;
}
footer img {
  height: auto;
  width: 30px;
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 5px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .copyright p {
  padding: 0;
  margin: 0;
}
footer .copyright img {
  width: 15px;
}

/*# sourceMappingURL=main.css.map */
