
main {
    height: 80vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        background-color: #ffce00;
        width: 100%;
    }

    .headline {
        background-image: url(/images/background/bg1.png);
        background-size: cover;
        background-position: 20%;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 20px;
        padding: 20px;
        margin-top:10vh;

        #bg1 {
            color: #ffce00;
        }

    }

    nav {
        position: fixed;
        font-size: 1.5em;
        z-index: 1;
        width: 100%;
        background-color: #ffce00;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 0 20px;
        overflow: hidden;
        transition: height 0.5s;


        ul {
            display: flex;
            align-items: center;
            list-style: none;
            text-decoration: none;
            justify-content: space-around;
            width: 15%;
        }

        img {
            height: 50px;
            width: 200px;
        }

        .nav-link{
            font-size: 2rem;
            color: black;
        }
        
    }
}

.displayView {
    background-color: #ffce00;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    button {
        padding: 20px;
        width: 40%;
    }
}

.gallery {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .figure {
        
        ul {
            list-style: none;
            text-decoration: none;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            padding: 20px;

            li {
                position: relative;
                height: 350px;
                cursor: pointer;
                flex-grow: 1;
                margin-top: 20px;
                
                img {
                    max-height: 100%;
                    min-width: 100%;
                    object-fit: contain;
                }
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                width: 100%;
                height: 0%;
                transition: .5s ease;
                background-color: rgba(0,0,0,0.7);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .text {
                font-size: 1.5em;
                color: white;
                text-align: center;
            }
              
            li:hover .overlay {
                height: 25%;
            }
        }
    }
}

.closeModal {
    position: absolute;
    top: -10px;
    right: 200px;
    color: #f1f1f1;
    font-size: 5rem;
    font-weight: bold;
}

.closeModal:hover {
    color: #ffce00;
}

.modal {
    position: fixed; 
    z-index: 5; 
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.9); 
    color: white;

    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2.5em;
    gap: 50px;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;

    display: none; 

    img {
        background-color: rgba(0, 0, 0, 0); 
        max-height: 100%;
        min-width: 100%;
        object-fit: contain;
        grid-row: 1/4;
    }

}

.checkout-list {
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0,0.9); 
    font-size: 1.5em;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
    .checkout-container {
        background-color: white; 
        position: absolute;
        right: 0;
        z-index: 5;
        width: 0%;
        overflow: hidden;

        i {
            font-size: 2em;
            color: black;
        }

        i:hover {
            color: white;
        }
    
        .checkout-icon {
            position: fixed;
            width: 40%;
            background-color: #ffce00;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            height: 10vh;
        }
    
        .checkout-items {
            padding-top: 40px;
            height: calc(100vh - 130px);
            overflow-y: auto;
            background-color: white;
            position: fixed;
            top: 10vh;
            width: 40%;

            ul {
                list-style: none;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 0px 120px 60px;
                gap: 30px;
        
                li {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    align-items: center;
                    text-align: center;
                    height: 150px;
        
                    img {
                        max-height: 100%;
                        min-width: 100%;
                        object-fit: contain;
                        grid-row: 1/3;
                    }
                        
                }
            }
        }
            
    }

    .checkout-closure {
        position: fixed;
        width: 40%;
        bottom: 0;
        background-color: #ffce00;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px;
        gap: 10px;
    
        #subtotal {
            justify-self: end;
        }
        
    }

    display: none;
}

footer {
    height: 30vh;
    background-color: #ffce00;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-size: 2rem;
    }

    .about p {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    img {
        height: auto;
        width: 30px;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
            padding: 0;
            margin: 0;
        }

        img {
            width: 15px;
        }
    }

}
