@media screen and (max-width: 576px) {

    main {
        height: 70vh;

        .headline {
            width:100%;
        }

        nav {
            padding: 0 10px;

            img {
                height: 40px;
                width:140px;
            }

            ul {
                width: 50%;
            }

            .nav-link {
                font-size: 1.5rem;
            }
        }
    }

    .displayView {
        padding: 10px;
        gap: 10px;
    
        button {
            padding: 10px;
            width: 100%;
        }
    }

    .gallery {
        .figure{
            ul {
                grid-template-columns: repeat(2, 1fr);

                li {
                    height: 150px;
                }

                .overlay {
                    height: 40%;
                }

                .text {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .closeModal {
        right: 20px;
    }

    .modal {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.5em;
        padding: 0 30px;

        img {
            height: 250px;
        }

        display: none;
    }

    .checkout-list {
        .checkout-container {
            .checkout-icon {
                width: 100%;
            }

            .checkout-items {
                width: 100%;
                padding-top: 0px;

                ul {
                    padding: 10px 10px 100px 10px;

                    li {
                        font-size: 1rem;
                    }
                }
            }
            .checkout-closure {
                width:100%;
            }
        }
    }

    footer {
        h3 {
            font-size: 1.5rem;
        }

        .about p {
            font-size: 1rem;
        }
    }

}